<!-- Sidebar -->
<div class="sidebar collapse">
    <ul class="navigation">
        <li class="active">
            <a href="#" class="expand">
                <i class="fa fa-laptop"></i>
                Movimentação
                <span class="label label-warning">1</span>
            </a>
            <ul>
                <li><a href="{{ path('venda_list') }}">Venda</a></li>
                <li><a href="{{ path('venda_list') }}">Saída</a></li>
                <li><a href="{{ path('venda_list') }}">Serviço</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="expand">
                <i class="fa fa-laptop"></i>
                Cadastros
                <span class="label label-warning">1</span>
            </a>
            <ul>
                <li><a href="{{ path('produto_list') }}">Produto</a></li>
                <li><a href="{{ path('categoria_list') }}">Categoria</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /sidebar -->