<!-- Sidebar -->
<div class="sidebar collapse">
    <ul class="navigation">
        <li class="active">
            <a href="#" class="expand">
                <i class="fa fa-laptop"></i>
                Dashboard
                <span class="label label-warning">1</span>
            </a>
            <ul>
                <li><a href="{{ path('movimentacao_list') }}">Banner</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="expand">
                <i class="fa fa-laptop"></i>
                Movimentação
                <span class="label label-warning">1</span>
            </a>
            <ul>
                <li><a href="{{ path('movimentacao_new') }}">Criar Movimentação</a></li>
                <li><a href="{{ path('movimentacao_list') }}">Listar Movimentação</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="expand">
                <i class="fa fa-laptop"></i>
                Gerenciamento
                <span class="label label-warning">1</span>
            </a>
            <ul>
                <li><a href="{{ path('produto_new') }}">Criar Produto / Serviço</a></li>
                <li><a href="{{ path('produto_list') }}">Listar Produto / Serviço</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /sidebar -->